{namespace ce = Bk2k\Bk2kContentElements\ViewHelpers}
<f:layout name="Default" />
<f:section name="Main">
    
    <f:render partial="ContentElement/Header" arguments="{_all}" />
    <ce:fal data="{data}" as="images">
    <f:if condition="{images}">
        <f:then>
            <div class="row">
                <div class="six columns">
                    <f:format.html>{data.bodytext}</f:format.html>
                </div>
                <div class="push_one five columns">
                    <f:for each="{images}" as="image">
                        <div>
                            <f:image src="{image.publicUrl}" id="I{image.uid}" title="{image.title}" alt="{image.alternative}" />
                        </div>
                    </f:for>
                </div>
            </div>
        </f:then>
        <f:else>
            <f:format.html>{data.bodytext}</f:format.html>
        </f:else>
    </f:if>
    </ce:fal>
        
</f:section>